bert-score==0.3.13
bitsandbytes==0.41.1
crypto==1.4.1
datasets==2.18.0
fire==0.5.0
gensim==4.3.2
numpy==1.26.4
openai==0.28.0
pandas==2.2.1
scikit-learn==1.4.1.post1
tokenizers==0.13.3
torch==1.13.1
transformers==4.29.0
